@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.maskelem{
  /* background:red;
  mask-image: url("../public/bb.svg");
  -webkit-mask-image:url("../public/bb.svg"); */
  clip-path: url(#beer-pan-clip);
}

/* .bouteille{
  background:red;
  background-blend-mode:luminosity;
} */

/* Beer can */

.beercan{
  transform-origin: center center 0;
}

.ff{
  font-family: var(--font-lobster) ;
}
.bgop{
  background:radial-gradient(circle at center,rgba(168, 31, 31, 0.2) 2% ,#FF3D6C)
}